<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CarPlay Activator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ca.adambell.carplayactivator</string>
			<key>key</key>
			<string>reverseOrientation</string>
			<key>label</key>
			<string>Reverse Orientation</string>
		</dict>
	</array>
	<key>title</key>
	<string>CarPlay Activator</string>
</dict>
</plist>
