Package: com.pigigaldi.carplaylauncher
Name: CarPlayLauncher
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 8.1)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable/Disable CarPlayActivator (by Adam Bell [@b3ll]).
Author: Pigi Galdi
Section: Addons (Flipswitch)